node_modules/
dist/
build/
.angular/
apps/web/dist/
apps/web/node_modules/
coverage/
.nx/
*.log
.qodo/

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.tmp

# Expo / React Native
apps/mobile/.expo/
apps/mobile/node_modules/
apps/mobile/dist/