// Angular Material theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

// Global styles
* {
  box-sizing: border-box;
}

// Custom styles for the application
.mat-toolbar {
  background-color: var(--mat-sys-surface-container);
  color: var(--mat-sys-on-surface);
}

.mat-drawer-container {
  background-color: var(--mat-sys-background);
}

.mat-drawer {
  width: 250px;
}
